.play-detail-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .play-detail-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        .play-detail-info {
            position: relative;
            overflow: hidden;
            padding-top: 40px;
            .bg-mark {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                width: 100%;
                height: 100%;
                // background: url(./../../static/img/1.jpg) no-repeat center / 200% auto;
                background-image: url(./../../static/img/1.jpg);
                background-repeat: no-repeat;
                // background-position: center center;
                background-size: 100% auto;
                filter: blur(20px);
            }
            .horizontal {
                display: flex;
                padding: 0 20px;
                .left {
                    margin-right: 30px;
                    border-radius: 5px;
                    overflow: hidden;
                    & > .img {
                        position: relative;
                        width: 250px;
                        padding-top: 100%;
                        & > img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                }
                .right {
                    flex: 1;
                    .title {
                        margin: 30px 0 40px 0;
                        font-size: 30px;
                        text-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
                        color: #fff;
                    }
                    .user {
                        display: flex;
                        align-items: center;
                        & > .img {
                            width: 50px;
                            height: 50px;
                            border-radius: 100%;
                            overflow: hidden;
                            & > img {
                                display: block;
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .name {
                            margin-left: 10px;
                            font-size: 24px;
                            color: rgba(255, 255, 255, 0.7);
                            text-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
                        }
                        .iconfont {
                            margin-left: 10px;
                            font-size: 22px;
                            transform: rotate(-90deg);
                            color: rgba(255, 255, 255, 0.7);
                            text-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
                        }
                    }
                }
            }
            .btns-group {
                margin: 40px 20px;
                display: flex;
                .btn {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #fff;
                    .iconfont {
                        font-size: 40px;
                    }
                    .title {
                        margin-top: 5px;
                        font-size: 20px;
                    }
                }
            }
            .play-btns {
                border-radius: 15px 15px 0 0;
                background: #fff;
                display: flex;
                height: 90px;
                overflow: hidden;
                font-size: 26px;
                border-bottom: 1px solid #eee;
                box-sizing: border-box;
                .left {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    padding-left: 20px;
                    .text {
                        color: #333;
                        text-decoration: none;
                    }
                    .iconfont {
                        font-size: 30px;
                        margin-right: 10px;
                    }
                    .num {
                        display: inline-block;
                        vertical-align: top;
                        margin-top: 2px;
                        margin-left: 5px;
                        font-size: 22px;
                        color: #999;
                    }
                }
                .right {
                    flex: 0 0 250px;
                    width: 250px;
                    background: linear-gradient(-45deg, #ec4940, #ff6e62);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-left: 20px;
                    color: #fff;
                    .iconfont {
                        font-size: 30px;
                        margin-right: 10px;
                    }
                }
            }
        }

        .play-detail-list {
            background: #fff;
            flex: 1;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            font-size: 22px;
            .list-item {
                color: #333;
                text-decoration: none;
                display: flex;
                align-items: center;
                & > .left {
                    padding: 20px 0;
                    width: 80px;
                    flex: 0 0 80px;
                    text-align: center;
                    color: #999;
                    font-weight: bold;
                    font-size: 26px;
                }
                .middle {
                    padding: 20px 0;
                    flex: 1;
                    border-bottom: 1px solid #eee;
                    display: flex;
                    & > .left {
                        flex: 1;
                        .name {
                            font-size: 26px;
                            margin-bottom: 10px;
                        }
                        .desc {
                            font-size: 24px;
                            color: #999;
                            .iconfont {
                                margin-right: 10px;
                                display: inline-block;
                                font-size: 26px;
                                vertical-align: top;
                                color: #ec4940;
                            }
                            .txt {
                                display: inline-block;
                                margin-top: 2px;
                            }
                        }
                    }
                    & > .right {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .iconfont {
                            display: block;
                            width: 60px;
                            padding: 20px 0;
                            text-align: center;
                            font-size: 30px;
                        }
                    }
                }
                
            }
        }
    }
}